<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Programar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="currDate" (ionChange)="dateChange($event)"></ion-datetime>
  </ion-item>
  <ion-list>
    <ion-item-divider>
      <ion-label>
        <ion-icon name="sunny"></ion-icon>
        Mañana
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of morning">
      <ion-label>{{item.name}}</ion-label>
      <ion-button color="success" size="small" slot="end" (click)="schedule(item)" [disabled]="item.session_id != null">Agendar</ion-button>
    </ion-item>
    <ion-item-divider>
      <ion-label>
        <ion-icon name="moon"></ion-icon>
        Tarde
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of afternoon">
      <ion-label>{{item.name}}</ion-label>
      <ion-button color="success" size="small" slot="end" (click)="schedule(item)" [disabled]="item.session_id != null">Agendar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button color="warning" expand="full" (click)="closeModal()">Cerrar</ion-button>
    </ion-toolbar>
  </ion-footer>
