<ion-content color="primary" padding>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Crear tu cuenta</h3>
          </div>
          <div>
            <ion-item margin-top [ngClass]="{'invalid-control': name.errors?.minlength}">
              <ion-input 
              name="name" 
              type="text" 
              placeholder="Nombre" 
              minlength="4"
              #name="ngModel"
              ngModel 
              required></ion-input>
            </ion-item>
            <ion-item margin-top [ngClass]="{'invalid-control': lastName.errors?.minlength}">
              <ion-input 
              name="last_name" 
              type="text" 
              placeholder="Apellido" 
              minlength="4"
              #lastName="ngModel"
              ngModel 
              required></ion-input>
            </ion-item>
            <ion-item margin-top [ngClass]="{'invalid-control': email.errors?.pattern}">
              <ion-input 
              name="email" 
              type="email" 
              placeholder="tu@correo.com" 
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
              #email="ngModel"
              ngModel 
              required></ion-input>
            </ion-item>
            <ion-item margin-top [ngClass]="{'invalid-control': password.errors?.minlength}" >
              <ion-input 
              name="password" 
              type="password" 
              placeholder="Contraseña"
              minlength="4"
              #password="ngModel"
              ngModel 
              required></ion-input>
            </ion-item>
            <ion-item margin-top [ngClass]="{'invalid-control': confirm.errors?.minlength || password.value != confirm.value }">
              <ion-input 
              name="confirm" 
              type="password" 
              placeholder="Confirmar contraseña" 
              minlength="4"
              #confirm="ngModel"
              ngModel 
              required></ion-input>
            </ion-item>
          </div>
          <div margin-top>
            <ion-button color="tertiary" size="medium" type="submit" [disabled]="form.invalid" expand="block" shape="round">Registrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div padding>
          Si ya tienes tu cuenta <a routerLink='/login' style="color:#eee">ingresa aqui</a>!
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
