<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Programar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="showProgress"></ion-progress-bar>
  <div ion-text-center>
    <h2>{{routine_name}}</h2>
    <ion-label margin-bottom>{{currDate | date : 'fullDate'}}</ion-label>
  </div>
  <ion-list>
    <ion-item-divider color="secondary" class="ion-text-uppercase">
      <ion-icon name="sunny" slot="start"></ion-icon>
      <ion-label>Mañana</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of morning">
      <ion-icon name="alarm" slot="start"></ion-icon>
      <ion-label>{{item.name}}</ion-label>
      <ion-button color="success" size="small" slot="end" (click)="schedule(item)" *ngIf="item.customer_id == null" [disabled]="item.customer_id != null">
        <ion-icon name="checkmark-circle" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="danger" size="small" slot="end" (click)="cancel(item)" *ngIf="item.customer_id != null" [disabled]="item.customer_id == null">
        <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item-divider color="secondary" class="ion-text-uppercase">
      <ion-icon name="moon" slot="start"></ion-icon>
      <ion-label>Tarde</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of afternoon">
        <ion-icon name="alarm" slot="start"></ion-icon>
      <ion-label>{{item.name}}</ion-label>
      <ion-button color="success" size="small" slot="end" (click)="schedule(item)" *ngIf="item.customer_id == null" [disabled]="item.customer_id != null">
        <ion-icon name="checkmark-circle" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="danger" size="small" slot="end" (click)="cancel(item)" *ngIf="item.customer_id != null" [disabled]="item.customer_id == null">
        <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button color="tertiary" expand="full" (click)="closeModal()">Cerrar</ion-button>
    </ion-toolbar>
  </ion-footer>
