<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Muevete Fitness
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="../../assets/img/events/event-1.jpg">
  <h3>Tu salud y alegria nuestra pasion</h3>

  <p>
    Variedad de clases grupales y eventos personalizados
  </p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../assets/img/events/event-1.jpg">
      </ion-col>
      <ion-col>
        <img src="../../assets/img/events/event-1.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
